<h1> All Students </h1>
<table>
	<thead>
		<tr>
			<td><pre>Student Name</pre></td>
			<td><pre>Credits </pre></td>
			<td><pre>Declared Major </pre></td>
			<td><pre>Days until graduation </pre></td>
		</tr>
	</thead>
	<tbody>
		<% @student.each do |students| %>
		<tr>
			<td><%= students.student_name %></td>
			<td><%= students.credits %></td>
			<td><%= students.declared_major %></td>
			<td><%= students.caluclate_time_until_graduation %></td>
		</tr>
		<% end %>
	</tbody>

	<%= link_to 'New', new_student_path %>
</table>