<h1> Calculating Graduation Times </h1>
<table>
  <thead>
    <tr>
      <td>Student</td>
      <td>Credits</td>
      <td>Major</td>
      
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.credits %></td>
      <td><%= student.declared_major %></td>
      <!-- <td><%= student.days_until_graduation %></td> -->
    </tr>
    <% end %>
  </tbody>
</table>

</br>
</br>

<table>
  <thead>
    <tr>
      <td>Multiplier</td>
      <td>Mult Value</td>     
    </tr>
  </thead>
    <tbody>
    <% @multipliers.each do |multiplier| %>
    <tr>
      <td><%= multiplier.name %></td>
      <td><%= multiplier.multiplier_value %></td>
    </tr>
    <% end %>
  </tbody>
</table>

</br>
</br>

<div>
   <td>Days until graduation</td>
</div>