<h1> Calculating Graduation Times </h1>

<%= link_to 'Manage Students', students_path %>
<table>
  <thead>
    <tr>
      <td>Student</td>
      <td>Credits</td>
      <td>Major</td>
      
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
    <tr>
      <td><%= student.student_name %></td>
      <td><%= student.credits %></td>
      <td><%= student.declared_major %></td>
      <!-- <td><%= student.days_until_graduation %></td> -->
    </tr>
    <% end %>
  </tbody>
</table>

</br>
</br>

<%= link_to 'Manage Multipliers', multipliers_path %>
<table>
  <thead>
    <tr>
      <td>Multiplier</td>
      <td>Mult Value</td>     
    </tr>
  </thead>
    <tbody>
    <% @multipliers.each do |multiplier| %>
    <tr>
      <td><%= multiplier.multiplier_name %></td>
      <td><%= multiplier.multiplier_value %></td>
    </tr>
    <% end %>
  </tbody>
</table>

</br>
</br>

<div>
   <td>Days until graduation</td>
   <div id="calc_grad_form">
     <%= select_tag 'student_name', 
      options_from_collection_for_select(@students, "student_name", "student_name"), include_blank: "Select Student Name" %>
     <%= select_tag 'multiplier', options_for_select(@multipliers.collect { |multiplier| multiplier.multiplier_value }), include_blank: "Select Multiplier" %>
   </div>
</div>